<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Python QR Generator</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body style="background: #214a80;">
        <div class="login-dark" style="height: 695px;">
            <form>
                <h2 class="sr-only">Get QR Code</h2>
                <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                <div class="form-group">
                    <input class="form-control" type="text" name="text" placeholder="input your text here">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" id="getQr">Get QR Code</button>
                </div>
                <div class="form-group" id="image-container">
                </div>
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function() {
                
                $('#getQr').click(function() {
                    var button = $("#getQr")
                    var loader = $("<div class='loader'></div>")
                    // Show loading animation
                    button.prop("disabled", true)
                    button.addClass("loading")
                    let val = $('[name="text"]').val()
                    console.log(val)
                    $("#image-container").empty()
                    $.ajax({
                        url: '/qrcode',
                        type: 'POST',
                        data: JSON.stringify({ val: val }),
                        contentType: 'application/json',
                        success: function(response) {
                            console.log('AJAX request successful')
                            console.log('Response:', response.data)
                            // Display the image in the response
                            $('#image-container').html('<img src="' + response.data + '" class="img-fluid">')
                            // Hide loading animation
                            button.prop("disabled", false)
                            button.removeClass("loading")
                        },
                        error: function(xhr, status, error) {
                            console.log('AJAX request failed')
                            console.log('Error:', error)
                            button.prop("disabled", false)
                            button.removeClass("loading")
                        }
                    })
                })
            })
        </script>
    </body>

</html>

